/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

  .wc_payment_method .payment_box {
    padding: 1rem;
    background: transparent !important;
    color: var(--global--color-dark-gray);
}
.wc_payment_method .payment_box fieldset {
    border: 0;
}

.wc_payment_method .payment_box fieldset {
    padding: 1.5rem;
    padding-bottom: 0;
    border: 0;
    background: #f6f6f6;
}